.rowItem {
  position: relative;
  font-size: 1em;
  height: 3em;
  border-bottom: 1px groove;
  border-bottom-color: rgba(221, 221, 221, 0.1);
}

.rowText {
  position: relative;
  top: 1.5em;
  transform: translate(0, -50%);
}

.checked {
  color: rgb(0, 126, 251);
  padding: 0em 0.5em;
  position: relative;
  vertical-align: middle;
  top: 0.025em;
}

.unChecked {
  color: rgb(189, 193, 201);
  padding: 0em 0.5em;
  position: relative;
  vertical-align: middle;
  top: 0.025em;
}

.checkName {
  vertical-align: middle;
}